<h2>Charts</h2>

<div class="row text-center">
  <div class="col-sm-1 ">
    <a href="/home">Home</a>
  </div>
  <div class="col-sm-1">
    <a href="/income">Income</a>
  </div>
  <div class="col-sm-1">
    <a href="/expense">Expenses</a>
  </div>
  <div class="col-sm-2">
    <a href="/investments">Investments</a>
  </div>
  <div class="col-sm-1">
    <a href="/charts">Charts</a>
  </div>
</div>


<form  name="chartsForm" class="form-horizontal col-xs-12 col-md-6 col-md-offset-3 well"
ng-submit="charts.chartData()">
  <div class="form-group row">
    <label class="control-label col-xs-offset-1 col-xs-2">Transaction Period:</label>
    <div class="col-xs-8">
      <select class="form-control" ng-model="charts.monthyear"
      ng-options="{month:x.month,year:x.year} as (x.month+','+x.year) for x in charts.monthYearlist"></select>
    </div>
  </div>
  <div class="form-group row ">
  <div class="col-sm-6">
    <button type="submit" class="btn  btn-sm btn-primary" >Submit</button>
  </div>
  </div>
</form>


<canvas id="doughnut" class="chart chart-doughnut center-block"
  chart-data="charts.data" chart-labels="charts.labels">
</canvas>

<div id="details">
    <h4>Transaction period : {{charts.displaydata.month}},{{charts.displaydata.year}} </h4>
    <table  class="table table-striped text-center table-condensed " id="table_id">
      <thead>
        <tr class="active">
          <th class="text-center">Income</th>
          <th class="text-center">Expenses</th>
          <th class="text-center">Investments</th>
        </tr>
      </thead>
      <tbody id="text-center">
        <tr >
          <td>{{charts.displaydata.income}}</td>
          <td>{{charts.displaydata.expense}}</td>
          <td>{{charts.displaydata.investment}}</td>
        </tr>
      </tBody>
    </table>
  </div>

</body>
</html>
